.nl-link {
    transition: all 0.12s ease-in-out;
    user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.nl-link--button {
    --background-color: transparent;

    --font-size: 14px;

    --icon-color: black;
    --icon-size: calc(var(--font-size) + 1px);
    --icon-weight: normal;

    --hover-color: black;
    --hover-icon-color: var(--hover-color);
    --hover-background-color: rgb(255, 166, 0);

    --active-color: black;
    --active-icon-color: var(--active-color);
    --active-background-color: rgb(231, 158, 21);

    --disable-color: #464646;
    --disable-background-color: rgb(255, 216, 143);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    min-height: 32px;
    padding: 0px 12px;

    border-radius: 4px;
    background-color: var(--background-color);

    color: black;
    font-size: var(--font-size);
    font-weight: normal;
    font-family: inherit;

    .nl-link__icon {
        color: var(--icon-color);
        font-size: var(--icon-size);
        font-weight: var(--icon-weight);
    }

    &:hover {
        background-color: var(--hover-background-color);
    }

    &:active {
        background-color: var(--active-background-color);
    }

    &.nl-link--actived {
        color: var(--active-icon-color);
        background-color: var(--active-background-color);

        .nl-link__icon {
            color: var(--active-icon-color);
        }
    }

    &.nl-link--disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover,
        &:active {
            color: inherit;
            font-size: var(--font-size);
            background-color: var(--background-color);
        }
    }
}
