.line {
    --title-color: #8683ad;
    --title-font-size: 13px;
    --title-font-weight: bold;
    --title-font-family: inherit;

    user-select: none;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0;

    width: calc(var(--width) + 24px);
    height: 70px;
    position: relative;

    border-bottom: 1px solid #e5e5e7;

    .line__title {
        transform: rotate(-90deg);

        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px;

        position: sticky;
        left: 0px;
        z-index: 4;

        & > p {
            flex: none;
            width: calc(var(--line-height) - 10px);
            height: var(--scale-bar-padding-left);
            line-height: var(--scale-bar-padding-left);
            text-align: center;
            margin: 0;

            background-color: white;

            color: var(--title-color);
            font-size: var(--title-font-size);
            font-weight: var(--title-font-weight);
            font-family: var(--title-font-family);
        }
    }

    .line__cards {
        display: flex;
        align-items: center;
    }
}
