.timeline {
    --width: 1440px;
    --overflow-x: auto;

    --scale-bar-height: 36px;
    --scale-bar-gap: 60px;
    --scale-bar-padding-left: 24px;
    --scale-bar-color: #797979;
    --scale-bar-font-size: 12px;
    --scale-bar-font-weight: bold;
    --scale-bar-font-family: "Consolas";
    
    --line-wrapper-height: 0px;

    --pointer-left: 0px;
    --pointer-bottom: calc(-1px - var(--line-wrapper-height));
    --pointer-height: calc(var(--line-wrapper-height) + 18px);
    --pointer-background-color: #7e74ff;
    --pointer-color: var(--pointer-background-color);
    --pointer-font-size: 12px;
    --pointer-font-weight: bold;
    --pointer-font-family: "Consolas";

    --line-height: 84px;
    --line-title-color: #8683ad;
    --line-title-font-size: 12px;
    --line-title-font-weight: bold;
    --line-title-font-family: "Consolas";

    transition: all 3s ease-in-out;
    scroll-behavior: smooth;
    user-select: none;

    overflow-y: auto;
    overflow-x: var(--overflow-x);

    position: relative;

    .timeline__scale-bar {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: var(--scale-bar-gap);

        width: var(--width);
        height: var(--scale-bar-height);
        padding-left: var(--scale-bar-padding-left);

        position: sticky;
        top: 0px;
        z-index: 5;

        background-color: white;
        border-bottom: 2px solid #e5e5e7;

        & > span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0px;
            color: var(--scale-bar-color);
            font-size: var(--scale-bar-font-size);
            font-weight: var(--scale-bar-font-weight);
            font-family: var(--scale-bar-font-family);
        }

        & > .pointer {
            transition: left 1s ease;

            width: 3px;
            height: var(--pointer-height);
            position: absolute;
            bottom: var(--pointer-bottom);
            left: var(--pointer-left);
            z-index: 6;

            background: var(--pointer-background-color);
            border-left: 1px solid white;
            border-right: 1px solid white;
            border-radius: 5px;

            & > span {
                position: absolute;
                left: 10px;
                color: var(--pointer-color);
                font-size: var(--pointer-font-size);
                font-weight: var(--pointer-font-weight);
                font-family: var(--pointer-font-family);
            }
        }
    }

    .timeline__lines-container {
        width: var(--width);

        .line {
            user-select: none;

            display: flex;
            align-items: center;
            justify-content: start;
            gap: 0;

            width: calc(var(--width) + 24px);
            height: var(--line-height);
            position: relative;

            border-bottom: 1px solid #e5e5e7;

            .line__title {
                transform: rotate(-90deg);

                display: flex;
                align-items: center;
                justify-content: center;

                width: 24px;

                position: sticky;
                left: 0px;
                z-index: 4;

                & > p {
                    flex: none;
                    width: calc(var(--line-height) - 10px);
                    height: var(--scale-bar-padding-left);
                    line-height: var(--scale-bar-padding-left);
                    text-align: center;
                    margin: 0;

                    background-color: white;

                    color: var(--line-title-color);
                    font-size: var(--line-title-font-size);
                    font-weight: var(--line-title-font-weight);
                    font-family: var(--line-title-font-family);
                }
            }

            .line__cards {
                display: flex;
                align-items: center;
            }
        }
    }
}
